html{
background-color: hsl(0, 0%, 58%); ;
}

main{
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
    align-items: center;
}

h1{
   background-color: hsl(0, 0%, 58%); 
   margin-top: 50px;
   margin-bottom: -50px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;
   color: rgb(255, 255, 255);
}

.calculator{
    max-width: 500px;
    overflow: hidden;
    background-color: hsl(0, 0%, 40%);
    border-radius: 20px;
}


.display{
    width: 100%;
    height: 80px;
    padding: 20px;
    text-align: left;
    border: none;
    background-color: hsl(216, 36%, 15%);
    color: white;
    font-size: 35px;
}
.display:hover{
    cursor: default;
}


.keys{

    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px;
}

.orange{
    background-color: orange;
}
.orange:hover{
    background-color: rgb(253, 186, 61);
}

button{
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 20px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: 3rem;
    font-weight: 700;
}
button:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 10%);
}button:active{
    background-color: hsl(0, 0%, 50%); ;
}

@media (max-height:800px) {

    .calculator{
        max-width: 300px;
    }

    .display{
        height: 50px;
    }


    button{
        height: 50px;
        width: 50px;
        border-radius: 10px;
        font-size: 2rem;
    }

    
}

@media (max-width:500px){

    .calculator{
        max-width: 300px;
    }

    .display{
        height: 50px;
    }


    button{
        height: 50px;
        width: 50px;
        border-radius: 10px;
        font-size: 2rem;
    }


}

